// Keywords: 

// set up a simple neutral simulation
initialize()
{
	// set the overall mutation rate
	initializeMutationRate(1e-7);
	
	// m1 mutation type: neutral
	initializeMutationType("m1", 0.5, "f", 0.0);
	
	// g1 genomic element type: uses m1 for all mutations
	initializeGenomicElementType("g1", m1, 1.0);
	
	// uniform chromosome of length 100 kb
	initializeGenomicElement(g1, 0, 999999);
	
	// uniform recombination along the chromosome
	initializeRecombinationRate(1e-8);
}

// create a population of 10,000 individuals (1000 for testing)
1
{
	sim.addSubpop("p1", 10000);
}
// at generation 8000, start pop growth
8000: {

newSize = asInteger(round(1.03^(sim.generation - 7999) * 100));
 if (newSize >= 25000)

{

newSize = 25000;

sim.deregisterScriptBlock(self);
 }

p1.setSubpopulationSize(newSize);
 }

// run to generation 10000
10000 late() {

// randomly subsample 20 individuals for output
allIndividuals = sim.subpopulations.individuals;
 sampledIndividuals = sample(allIndividuals, 20);
 sampledIndividuals.genomes.outputVCF();

}
